@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 248 249 250; /* #f8f9fA */ 
  --primary-100: 235 238 239; /* #ebeeef */
  --primary-200: 224 230 232; /* #e0e6e8 */
  --primary-300: 166 187 193; /* #a6bbc1 */
  --primary-400: 127 157 168; /* #7f9dA8 */
  --primary-500: 101 129 139; /* #65818b */
  --primary-600: 67 95 105; /* #435f69 */
  --primary-700: 55 80 89; /* #375059 */
  --primary-800: 42 65 73; /* #2A4149 */
  --primary-900: 35 57 64; /* #233940 */
  --primary-1000: 29 50 57; /* #1D3239 */
  --white: 255 255 255; /* #ffffff */
  --accent-300: 255 189 89; /* #ffbd59 */
  --accent-400: 232 153 34; /* #e89922 */
  --error-400: 212 50 35; /* #d43223 */
  --error-500: 182 23 8; /* #b61708 */
  --success-300: 130 175 66; /* #82af42 */
  --success-400: 96 123 58; /* #607b3a */
  --cadet-400: 95 156 161; /* #5F9CA1 */
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

